<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id = 'app'>
    <div>
      
      <select v-model='status'>
        <option value="all"> 전체 </option>
        <option value="doing"> 진행 </option>
        <option value="done"> 완료 </option>
        <!-- <option v-for= 'option in options' v-bind:value="option.value"> {{ option.text }} </option> -->
      </select>

      <input type="text" v-model="inputData">  
      <button @click ='addList'> + </button>
    </div>

    <ul>
      <li v-for ="todo in todoListByStatus" v-bind:key = "todo.date"> 
        <input type="checkbox" v-model='todo.isCompleted'> {{ todo.title }} </li>
    </ul>
    
    <button @click ='deleteTodo'> 완료된 할 일 지우기 </button>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const STORAGE_KEY = 'vue-todo-list' // js 에 대한 내용임 
    const app = new Vue({
      el : '#app',
      data: {
        todos: JSON.parse(localStorage.getItem(STORAGE_KEY) || [] ), // 빈값에 대한 대비 (단축평가 )
        // 바로 받아오면 json 즉, string으로 오기때문에 filter 함수는 array만 맏기때문에
        // 변환을 해줘야함.

        // [{title: '건강설문', isCompleted: false, date: 0}, {title: '홈워크', isCompleted: true, date: 1 }],
        inputData: '',
        status: '',
      },
      methods: {
        addList: function () {
          // const input = document.querySelector('input')
          this.todos.push({title: this.inputData, isCompleted: false, date: Date.now()})
          // localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todos)) 
          // 브라우저 종료시에도 데이터가 증발하지 않는다.
          // JSON 화 시켜서 저장하면 값이 깔끔하게 나온다.
          this.inputData = ''
        },

        deleteTodo: function () {
          this.todos = this.todos.filter((todo) => {
              return !todo.isCompleted // 완료되지 않은 값만 todos 리스트로 치환되기때문에 가능
            })
            // localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todos))
          }
      },
    computed: {
      todoListByStatus: function () {
        return this.todos.filter((todo) => {
          if (this.status === 'doing'){
            return !todo.isCompleted
          }else if (this.status ==='done'){
            return todo.isCompleted
          }else {
            return true
          }
        })
      }
    },
    watch : {
      todos: function () { // todos가 변환 될때마다 local storage에 저장을 할 것임.
        localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todos)) 
      }
    }

    })

  </script>
</body>
</html>